<section>
  {{log this}}
  <section data-event="preHook" style="display:none">
    <div class="form-group">
      <label for="trigger.eventArgs.preHook.hook">{{localize
          "STAGEMANAGER.TRIGGERS.HOOKNAME"
        }}</label>
      <input
        type="text"
        name="trigger.eventArgs.preHook.hook"
        id="trigger.eventArgs.preHook.hook"
        value="{{trigger.hook}}"
        list="preHookList"
        data-role="prehook-name"
      />
      <datalist id="preHookList"></datalist>
    </div>
    <br />
  </section>
  <section data-event="postHook" style="display:none">
    <div class="form-group">
      <label for="trigger.eventArgs.postHook.hook">{{localize
          "STAGEMANAGER.TRIGGERS.HOOKNAME"
        }}</label>
      <input
        type="text"
        name="trigger.eventArgs.postHook.hook"
        id="trigger.eventArgs.postHook.hook"
        value="{{trigger.hook}}"
        list="postHookList"
        data-role="posthook-name"
      />
      <datalist id="postHookList"></datalist>
    </div>
    <br />
  </section>
</section>