<section class="app standard-window">
  <form>
    <label for="type">{{localize "STAGEMANAGER.ADDPROGRESSBAR.TYPE"}}</label>
    <select name="type" id="type" required>
      <option value="manual">{{localize
          "STAGEMANAGER.ADDPROGRESSBAR.MANUAL"
        }}</option>
      <option value="resource">{{localize
          "STAGEMANAGER.ADDPROGRESSBAR.RESOURCE"
        }}</option>
    </select>

    <div class="form-group">
      <label for="bg">{{localize "STAGEMANAGER.ADDPROGRESSBAR.BG"}}</label>
      <file-picker type="imagevideo" name="bg" id="bg" required></file-picker>
    </div>

    <div class="form-group">
      <label for="fg">{{localize "STAGEMANAGER.ADDPROGRESSBAR.FG"}}</label>
      <file-picker type="imagevideo" name="fg" id="fg" required></file-picker>
    </div>
  </form>
</section>