<section>
  {{#with speaker}}
    <input type="hidden" name="speaker.id" id="speaker.id" value="{{id}}">
    <input type="hidden" name="speaker.type" id="speaker.type" value="{{type}}">
    <input type="hidden" name="speaker.serialized" id="speaker.serialized" value="{{serialized}}">

    <div class="center">{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.ACTOR"}}</div>

    <div class="form-group">
      <label for="speaker.actor">{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.ACTOR"}}</label>
      <select name="speaker.actor" id="speaker.actor" value="{{actor}}">
        <option></option>
        {{#group ../actors by="pack"}}
          {{#if value}}<optgroup label="{{value}}">{{/if}}
          {{#each items}}
            <option value="{{uuid}}"{{#if selected}} selected{{/if}}>{{name}}</option>
          {{/each}}
          {{#if value}}</optgroup>{{/if}}
        {{/group}}
      </select>
    </div>
    <br>

    {{> "modules/stage-manager/templates/speakers/common.hbs" ..}}

  {{/with}}
</section>
