<section>
  {{#with speaker}}
    <div class="form-group" data-role="preview-tooltip">
      <label for="speaker.src">{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.SRC"}}</label>
      <file-picker name="speaker.src" id="speaker.src" type="imageVideo" value="{{src}}"></file-picker>
    </div>
    <br>

    <div class="form-group">
      <label for="speaker.name">{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.LABEL"}}</label>
      <input type="text" name="speaker.name" id="speaker.name" value="{{name}}">
    </div>
    <br>

    <div class="form-group slim">
      <label>{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.LOCATION"}}</label>
      <div class="form-fields">
        <label for="speaker.bounds.x">{{localize "STAGEMANAGER.EDITDIALOG.POSX"}}</label>
        <input type="number" name="speaker.bounds.x" id="speaker.bounds.x" value="{{bounds.x}}" step="any" {{disabled ../autoPosition}}>
        <label for="speaker.bounds.y">{{localize "STAGEMANAGER.EDITDIALOG.POSY"}}</label>
        <input type="number" name="speaker.bounds.y" id="speaker.bounds.y" value="{{bounds.y}}" step="any" {{disabled ../autoPosition}}>
        <button id="speaker-location-preset"  data-role="speaker-position-preset" data-action="speakerLocationPresets" type="button" title="{{localize "STAGEMANAGER.EDITDIALOG.LOCATIONPRESET"}}" {{disabled ../autoPosition}}>
          <i class="fas fa-fw fa-location-crosshairs"></i>
        </button>
      </div>
    </div>
      <section id="speaker-location-presets" style="display:none">
        <div class="flexrow">
          <div class="flex1"></div>
          <div class="flex0">
            <table class="location-presets">
              <tr>
                <td><button type="button" data-role="speaker-position-preset" data-action="speakerPresetTopLeft" data-id="{{id}}" {{disabled ../autoPosition}}><i class="fas fa-fw fa-arrow-up fa-rotate-by" style="--fa-rotate-angle: -45deg"></i></button></td>
                <td><button type="button" data-role="speaker-position-preset" data-action="speakerPresetTop" data-id="{{id}}" {{disabled ../autoPosition}}><i class="fas fa-fw fa-arrow-up"></i></button></td>
                <td><button type="button" data-role="speaker-position-preset" data-action="speakerPresetTopRight" data-id="{{id}}" {{disabled ../autoPosition}}><i class="fas fa-fw fa-arrow-up fa-rotate-by" style="--fa-rotate-angle: 45deg"></i></button></td>
              </tr>
              <tr>
                <td><button type="button" data-role="speaker-position-preset" data-action="speakerPresetLeft" data-id="{{id}}" {{disabled ../autoPosition}}><i class="fas fa-fw fa-arrow-left"></i></button></td>
                <td><button type="button" data-role="speaker-position-preset" data-action="speakerPresetCenter" data-id="{{id}}" {{disabled ../autoPosition}}><i class="fas fa-fw fa-arrows-to-dot"></i></button></td>
                <td><button type="button" data-role="speaker-position-preset" data-action="speakerPresetRight" data-id="{{id}}" {{disabled ../autoPosition}}><i class="fas fa-fw fa-arrow-right"></i></button></td>
              </tr>
              <tr>
                <td><button type="button" data-role="speaker-position-preset" data-action="speakerPresetBottomLeft" data-id="{{id}}" {{disabled ../autoPosition}}><i class="fas fa-fw fa-arrow-down fa-rotate-by" style="--fa-rotate-angle: 45deg"></i></button></td>
                <td><button type="button" data-role="speaker-position-preset" data-action="speakerPresetBottom" data-id="{{id}}" {{disabled ../autoPosition}}><i class="fas fa-fw fa-arrow-down"></i></button></td>
                <td><button type="button" data-role="speaker-position-preset" data-action="speakerPresetBottomRight" data-id="{{id}}" {{disabled ../autoPosition}}><i class="fas fa-fw fa-arrow-down fa-rotate-by" style="--fa-rotate-angle: -45deg"></i></button></td>
              </tr>
            </table>
          </div>
        </div>
      </section>
    <br>

    <div class="form-group slim">
      <label>{{localize "STAGEMANAGER.EDITDIALOG.SIZE"}}</label>
      <div class="form-fields">
        <label for="speaker.bounds.width">{{localize "STAGEMANAGER.EDITDIALOG.WIDTH"}}</label>
        <input type="number" name="speaker.bounds.width" id="speaker.bounds.width" value="{{bounds.width}}" step="any">
        <label for="speaker.bounds.height">{{localize "STAGEMANAGER.EDITDIALOG.HEIGHT"}}</label>
        <input type="number" name="speaker.bounds.height" id="speaker.bounds.height" value="{{bounds.height}}" step="any">
      </div>
    </div>
    <br>

    <div class="form-group">
      <label for="speaker.zIndex">{{localize "STAGEMANAGER.EDITDIALOG.ZINDEX"}}</label>
      <input type="number" name="speaker.zIndex" id="speaker.zIndex" value="{{zIndex}}" step="any">
    </div>
    <span class="notes">{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.ZINDEXHINT"}}</span>
  {{/with}}
</section>
