<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="effects">
  {{#with stageObject}}
    <div class="form-group">
      <label for="enableEffects">{{localize
          "STAGEMANAGER.EDITDIALOG.EFFECTS.ENABLE"
        }}</label>
      <input
        type="checkbox"
        name="effectsEnabled"
        id="effectsEnabled"
        {{checked effectsEnabled}}
      />
    </div>

    <div class="effects-body">
      <div data-role="effects-list">
        <select
          name="effectsList"
          id="effectsList"
          style="height:100%"
          size="10"
          class="stage-manager multiselect"
          data-action="selectEffect"
          >
          {{#each ../effects}}
          <option
            value="{{id}}"
            data-type="{{type}}"
            data-serialized="{{serialized}}"
            >{{localize label}}</option>
          {{/each}}
        </select>
      </div>
      <div data-role="effect-config"></div>
      <div>
        <button type="button" data-action="addEffect">{{localize
        "STAGEMANAGER.EDITDIALOG.EFFECTS.ADD"
        }}</button>
      </div>
      <div>
        <button type="button" data-action="deleteEffect" disabled>{{localize
        "STAGEMANAGER.EDITDIALOG.EFFECTS.DELETE"
        }}</button>
      </div>
    </div>
  {{/with}}
</section>