<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="font">
  {{#with stageObject}}
    <div class="form-group">
      <label for="style.fontFamily">{{localize
          "STAGEMANAGER.EDITDIALOG.FONT.FAMILY"
        }}</label>
      <select name="style.fontFamily" id="style.fontFamily" data-font-select>
        {{selectOptions ../fontSelect selected=style.fontFamily}}
      </select>
    </div>

    <div class="form-group">
      <label for="style.fontSize">{{localize "STAGEMANAGER.EDITDIALOG.FONT.SIZE"}}</label>
      <input type="number" min="8" step="1" name="style.fontSize" id="style.fontSize" value="{{style.fontSize}}">
    </div>

    <div class="form-group">
      <label for="style.fill">{{localize "STAGEMANAGER.EDITDIALOG.FONT.COLOR"}}</label>
      <input type="color" name="style.fill" id="style.fill" value="{{style.fill}}">
    </div>

    <div class="form-group">
      <label for="style.dropShadow">{{localize "STAGEMANAGER.EDITDIALOG.FONT.DROPSHADOW"}}</label>
      <input type="checkbox" {{checked style.dropShadow}} id="style.dropShadow" name="style.dropShadow">
    </div>

    <div class="form-group">
      <label for="style.dropShadowAlpha">{{localize "STAGEMANAGER.EDITDIALOG.FONT.DROPSHADOWALPHA"}}</label>
      <range-picker value="{{style.dropShadowAlpha}}" min="0" max="100" step="any" name="style.dropShadowAlpha" id="style.dropShadowAlpha"></range-picker>
    </div>

    <div class="form-group">
      <label for="style.dropShadowAngle">{{localize "STAGEMANAGER.EDITDIALOG.FONT.DROPSHADOWANGLE"}}</label>
      <range-picker value="{{style.dropShadowAngle}}" min="0" max="360" step="any" name="style.dropShadowAngle" id="style.dropShadowAngle"></range-picker>
    </div>

    <div class="form-group">
      <label for="style.dropShadowBlur">{{localize "STAGEMANAGER.EDITDIALOG.FONT.DROPSHADOWBLUR"}}</label>
      <input type="number" min="0" step="1" value="{{style.dropShadowBlur}}" id="style.dropShadowBlur" name="style.dropShadowBlur">
    </div>

    <div class="form-group">
      <label for="style.dropShadowColor">{{localize "STAGEMANAGER.EDITDIALOG.FONT.DROPSHADOWCOLOR"}}</label>
      <input type="color" name="style.dropShadowColor" id="style.dropShadowColor" value="{{style.dropShadowColor}}">
    </div>

    <div class="form-group">
      <label for="style.dropShadowDistance">{{localize "STAGEMANAGER.EDITDIALOG.FONT.DROPSHADOWDISTANCE"}}</label>
      <input type="number" name="style.dropShadowDistance" id="style.dropShadowDistance" value="{{style.dropShadowDistance}}" min="0" step="1">
    </div>
  {{/with}}
</section>