<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="image">
  {{#with stageObject}}
    <div class="form-group">
      <label for="{{../formPrefix}}src">{{localize "STAGEMANAGER.EDITDIALOG.SRC"}}</label>
      <file-picker type="imagevideo" value="{{src}}" name="{{../formPrefix}}src" id="{{../formPrefix}}src"></file-picker>
    </div>

    {{#if ../showPortraitCheck}}
      <div class="form-group">
        <label for="showPortrait">{{localize "STAGEMANAGER.EDITDIALOG.SHOWPORTRAIT"}}</label>
        <input type="checkbox" id="showPortrait" name="showPortrait" {{checked ../showPortrait}}>
      </div>
    {{/if}}
    
    <div class="form-group slim">
      <label>{{localize "STAGEMANAGER.EDITDIALOG.SIZE"}}</label>
      <div class="form-fields">
        <label for="{{../formPrefix}}bounds.width">{{localize "STAGEMANAGER.EDITDIALOG.WIDTH"}}</label>
        <input type="number" name="{{../formPrefix}}bounds.width" id="{{../formPrefix}}bounds.width" value="{{bounds.width}}" step="any">
        <label for="{{../formPrefix}}bounds.height">{{localize "STAGEMANAGER.EDITDIALOG.HEIGHT"}}</label>
        <input type="number" name="{{../formPrefix}}bounds.height" id="{{../formPrefix}}bounds.height" value="{{bounds.height}}" step="any">
      </div>
    </div>

    <div class="form-group slim">
      <label for="anchor">{{localize "STAGEMANAGER.EDITDIALOG.ANCHOR"}}</label>
      <div class="form-fields">
        <label for="{{../formPrefix}}anchor.x">{{localize "STAGEMANAGER.EDITDIALOG.POSX"}}</label>
        <input type="number" name="{{../formPrefix}}anchor.x" id="{{../formPrefix}}anchor.x" value="{{anchor.x}}" step="any" min="0" max="1">
        <label for="{{../formPrefix}}anchor.y">{{localize "STAGEMANAGER.EDITDIALOG.POSY"}}</label>
        <input type="number" name="{{../formPrefix}}anchor.y" id="{{../formPrefix}}anchor.y" value="{{anchor.y}}" step="any" min="0" max="1">
      </div>
    </div>

  {{/with}}
</section>

