<section class="tab {{cssClass}}" data-group="progressBar" data-tab="settings">
  {{#with stageObject}}
    <div class="form-group slim">
      <label>{{localize "STAGEMANAGER.EDITDIALOG.SIZE"}}</label>
      <div class="form-fields">
        <label for="{{../formPrefix}}bounds.width">{{localize "STAGEMANAGER.EDITDIALOG.WIDTH"}}</label>
        <input type="number" name="{{../formPrefix}}bounds.width" id="{{../formPrefix}}bounds.width" value="{{bounds.width}}" step="any">
        <label for="{{../formPrefix}}bounds.height">{{localize "STAGEMANAGER.EDITDIALOG.HEIGHT"}}</label>
        <input type="number" name="{{../formPrefix}}bounds.height" id="{{../formPrefix}}bounds.height" value="{{bounds.height}}" step="any">
      </div>
    </div>

    <div class="form-group slim">
      <label for="value">{{localize "STAGEMANAGER.EDITDIALOG.VALUE"}}</label>
      <input type="number" min="0" required step="any" value="{{value}}" name="{{../formPrefix}}value" id="{{../formPrefix}}value">
      <label for="max">{{localize "STAGEMANAGER.EDITDIALOG.MAX"}}</label>
      <input type="number" min="0" required step="any" value="{{max}}" name="{{../formPrefix}}max" id="{{../formPrefix}}max">
    </div>

    <div class="form-group">
      <label for="clamp">{{localize "STAGEMANAGER.EDITDIALOG.CLAMP"}}</label>
      <input type="checkbox" name="{{../formPrefix}}clamp" id="{{../formPrefix}}clamp" {{checked clamp}}>
    </div>

    <div class="form-group">
      <label for="animateValueChanges">{{localize "STAGEMANAGER.EDITDIALOG.ANIMATEVALUECHANGES"}}</label>
      <input type="checkbox" name="{{../formPrefix}}animateValueChanges" id="{{../formPrefix}}animateValueChanges" {{checked animateValueChanges}}>
    </div>

    <div class="form-group">
      <label for="primaryLerpTime">{{localize "STAGEMANAGER.EDITDIALOG.PRIMARYLERP"}}</label>
      <input type="number" min="0" step="1" required name="{{../formPrefix}}primaryLerpTime" id="{{../formPrefix}}primaryLerpTime" value="{{primaryLerpTime}}">
    </div>

    <div class="form-group">
      <label for="secondaryLerpTime">{{localize "STAGEMANAGER.EDITDIALOG.SECONDARYLERP"}}</label>
      <input type="number" min="0" step="1" required name="{{../formPrefix}}secondaryLerpTime" id="{{../formPrefix}}secondaryLerpTime" value="{{secondaryLerpTime}}">
    </div>

    <div class="form-group">
      <label for="lerpEasing">{{localize "STAGEMANAGER.EDITDIALOG.LERPEASING"}}</label>
      <select id="{{../formPrefix}}lerpEasing" id="{{../formPrefix}}lerpEasing">
        {{selectOptions ../lerpEasingSelect localize=true selected=lerpEasing}}
      </select>
    </div>

  {{/with}}
</section>
