<section class="tab {{tab.cssClass}}" data-group="progressBar" data-tab="bg">
  {{#with stageObject}}
    <div class="form-group">
      <label for="{{../formPrefix}}bgSprite">{{localize "STAGEMANAGER.EDITDIALOG.SRC"}}</label>
      <file-picker type="imagevideo" value="{{bgSprite}}" name="{{../formPrefix}}bgSprite" id="{{../formPrefix}}bgSprite"></file-picker>
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}bgBlendMode">{{localize "STAGEMANAGER.EDITDIALOG.BLENDMODE"}}</label>
      <select name="{{../formPrefix}}bgBlendMode" id="{{../formPrefix}}bgBlendMode">
        {{selectOptions ../blendModeSelect localize=true selected=bgBlendMode}}
      </select>
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}bgTint">{{localize "STAGEMANAGER.EDITDIALOG.TINT"}}</label>
      <input type="text" name="{{../formPrefix}}bgTint" id="{{../formPrefix}}bgTint" value="{{bgTint}}" data-color-picker="{alphaChannel: false}">
    </div>
  {{/with}}
</section>