<section class="tab {{tab.cssClass}}" data-group="progressBar" data-tab="lerp">
  {{#with stageObject}}
    <div class="form-group">
      <label for="{{../formPrefix}}lerpSprite">{{localize "STAGEMANAGER.EDITDIALOG.SRC"}}</label>
      <file-picker type="imagevideo" value="{{lerpSprite}}" name="{{../formPrefix}}lerpSprite" id="{{../formPrefix}}lerpSprite"></file-picker>
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}lerpBlendMode">{{localize "STAGEMANAGER.EDITDIALOG.BLENDMODE"}}</label>
      <select name="{{../formPrefix}}lerpBlendMode" id="{{../formPrefix}}lerpBlendMode">
        {{selectOptions ../blendModeSelect localize=true selected=lerpBlendMode}}
      </select>
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}lerpTint">{{localize "STAGEMANAGER.EDITDIALOG.TINT"}}</label>
      <input type="text" name="{{../formPrefix}}lerpTint" id="{{../formPrefix}}lerpTint" value="{{lerpTint}}" data-color-picker="{alphaChannel: false}">
    </div>
  {{/with}}
</section>