<section class="tab active {{tab.cssClass}}" data-group="resource" data-tab="basics">
  {{#with stageObject}}
    {{> "modules/stage-manager/templates/actorSelector.hbs" id="actor" actors=../actors}}

    <div class="form-group">
      <label for="resourcePath">{{localize "STAGEMANAGER.EDITDIALOG.RESOURCEPATH"}}</label>
      <input type="text" name="resourcePath" id="resourcePath" value="{{resourcePath}}" list="trackableResources">
      <datalist id="trackableResources"></datalist>
    </div>

    <div class="form-group">
      <label for="textMode">{{localize "STAGEMANAGER.EDITDIALOG.RESOURCETEXTMODE"}}</label>
      <select name="textMode" id="textMode" value="{{textMode}}">
        <option value="none">{{localize "STAGEMANAGER.EDITDIALOG.TEXTMODE.NONE"}}</option>
        <option value="percentage">{{localize "STAGEMANAGER.EDITDIALOG.TEXTMODE.PERCENTAGE"}}</option>
        <option value="values">{{localize "STAGEMANAGER.EDITDIALOG.TEXTMODE.VALUES"}}</option>
      </select>
    </div>
  {{/with}}
</section>