<div class="tab {{tab.cssClass}}" data-group="primary" data-tab="speakers">
  {{#with stageObject}}

    <div class="form-group">
      <label for="abovePanel">{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.ABOVEPANEL"}}</label>
      <input type="checkbox" name="abovePanel" id="abovePanel" data-action="toggleAbovePanel" {{checked ../abovePanel}}>
    </div>

    <div class="form-group slim">
      <label>{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.MAXSIZE"}}</label>
      <div class="form-fields">
        <label for="maxSpeakerWidth">{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.MAXWIDTH"}}</label>
        <input type="number" step="1" value="{{maxSpeakerWidth}}" name="maxSpeakerWidth" id="maxSpeakerWidth">

        <label for="maxSpeakerHeight">{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.MAXHEIGHT"}}</label>
        <input type="number" step="1" value="{{maxSpeakerHeight}}" name="maxSpeakerHeight" id="maxSpeakerHeight">
      </div>
    </div>

    <div class="form-group">
      <label for="speakerSlotWidth">{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.SLOTWIDTH"}}</label>
      <input type="number" name="speakerSlotWidth" id="speakerSlotWidth" min="1" step="1" value="{{speakerSlotWidth}}">
    </div>

    <button type="button" name="autoPosition" id="autoPosition" data-action="autoPositionSpeakers">
      {{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.AUTOPOSITION"}}
    </button>

    <div class="effects-body">
      <div data-role="speaker-list">
        <select
          name="speakerList"
          id="speakerList"
          style="height:100%;"
          size="10"
          class="stage-manager multiselect"
          data-action="selectSpeaker"
        >
          {{#each speakers}}
            <option
              value="{{id}}"
              data-serialized="{{json this}}"
            >{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div data-role="speaker-config"></div>
      <div>
        <button type="button" data-action="addSpeaker">{{localize
            "STAGEMANAGER.EDITDIALOG.SPEAKERS.ADD"
          }}</button>
      </div>
      <div>
        <button type="button" data-action="deleteSpeaker" disabled>{{localize
            "STAGEMANAGER.EDITDIALOG.SPEAKERS.DELETE"
          }}</button>
      </div>
    </div>
  {{/with}}
</div>