<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="text">
  {{log stageObject}}
  {{#with stageObject}}

      <div class="form-group">
        <label for="{{../formPrefix}}text">{{localize "STAGEMANAGER.EDITDIALOG.TEXT"}}</label>
        <input type="text" name="{{../formPrefix}}text" id="{{../formPrefix}}text" value="{{text}}" required>
      </div>
      
      <div class="form-group slim">
      <label>{{localize "STAGEMANAGER.EDITDIALOG.SIZE"}}</label>
      <div class="form-fields">
        <label for="{{../formPrefix}}bounds.width">{{localize "STAGEMANAGER.EDITDIALOG.WIDTH"}}</label>
        <input type="number" name="{{../formPrefix}}bounds.width" id="{{../formPrefix}}bounds.width" value="{{bounds.width}}" step="any">
        <label for="{{../formPrefix}}bounds.height">{{localize "STAGEMANAGER.EDITDIALOG.HEIGHT"}}</label>
        <input type="number" name="{{../formPrefix}}bounds.height" id="{{../formPrefix}}bounds.height" value="{{bounds.height}}" step="any">
      </div>
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}angle">
        {{localize "STAGEMANAGER.EDITDIALOG.ANGLE"}}
        <span class="units">{{localize "STAGEMANAGER.EDITDIALOG.ANGLEHINT"}}</span>
      </label>
      <range-picker value="{{angle}}" min="0" max="360" step="any" name="{{../formPrefix}}angle" id="{{../formPrefix}}angle"></range-picker>
    </div>

    <div class="form-group slim">
      <label>{{localize "STAGEMANAGER.EDITDIALOG.SKEW"}}</label>
      <div class="form-fields">
        <label for="{{../formPrefix}}skew.x">{{localize "STAGEMANAGER.EDITDIALOG.POSX"}}</label>
        <input type="number" name="{{../formPrefix}}skew.x" id="{{../formPrefix}}skew.x" value="{{skew.x}}" min="0" step="any">
        <label for="{{../formPrefix}}skew.y">{{localize "STAGEMANAGER.EDITDIALOG.POSY"}}</label>
        <input type="number" name="{{../formPrefix}}skew.y" id="{{../formPrefix}}skew.y" value="{{skew.y}}" min="0" step="any">
      </div>
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}alpha">{{localize "STAGEMANAGER.EDITDIALOG.ALPHA"}}</label>
      <range-picker value="{{alpha}}" min="0" max="1" step=".01" id="{{../formPrefix}}alpha" name="{{../formPrefix}}alpha"></range-picker>
    </div>

  {{/with}}
</section>