<section class="tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="text">
  {{#with stageObject}}

      {{!-- <div class="form-group"> --}}
        <label for="{{../formPrefix}}text">{{localize "STAGEMANAGER.EDITDIALOG.TEXT"}}</label>
        {{!-- <prose-mirror name="{{../formPrefix}}text" id="{{../formPrefix}}text" value="{{text}}"></prose-mirror> --}}
        {{!-- <input type="text" name="{{../formPrefix}}text" id="{{../formPrefix}}text" value="{{text}}" required> --}}
        <textarea name="{{../formPrefix}}text" id="{{../formPrefix}}text">{{text}}</textarea>
      {{!-- </div> --}}
    
    <div class="form-group slim">
      <label>{{localize "STAGEMANAGER.EDITDIALOG.ANCHOR"}}</label>
      <div class="form-fields">
        <label for="{{../formPrefix}}anchor.x">{{localize "STAGEMANAGER.EDITDIALOG.POSX"}}</label>
        <input type="number" name="{{../formPrefix}}anchor.x" id="{{../formPrefix}}anchor.x" value="{{anchor.x}}" step="any" min="0" max="1">
        <label for="{{../formPrefix}}anchor.y">{{localize "STAGEMANAGER.EDITDIALOG.POSY"}}</label>
        <input type="number" name="{{../formPrefix}}anchor.y" id="{{../formPrefix}}anchor.y" value="{{anchor.y}}" step="any" min="0" max="1">
      </div>
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}style.align">{{localize "STAGEMANAGER.EDITDIALOG.TEXTALIGN.LABEL"}}</label>
      <select name="{{../formPrefix}}style.align" id="{{../formPrefix}}style.align">
        {{selectOptions ../textAlignmentContext localize=true selected=style.align}}
      </select>
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}style.wordWrap">{{localize "STAGEMANAGER.EDITDIALOG.WORDWRAP"}}</label>
      <input type="checkbox" {{checked style.wordWrap}} name="{{../formPrefix}}style.wordWrap" id="{{../formPrefix}}style.wordWrap">
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}style.breakWords">{{localize "STAGEMANAGER.EDITDIALOG.BREAKWORDS"}}</label>
      <input type="checkbox" {{checked style.breakWords}} name="{{../formPrefix}}style.breakWords" id="{{../formPrefix}}style.breakWords">
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}style.wordWrapWidth">{{localize "STAGEMANAGER.EDITDIALOG.WORDWRAPWIDTH"}}</label>
      <input type="number" min="0" step="1" name="{{../formPrefix}}style.wordWrapWidth" id="{{../formPrefix}}style.wordWrapWidth" value="{{style.wordWrapWidth}}">
    </div>

    <div class="form-group">
      <label for="{{../formPrefix}}style.whitespace">{{localize "STAGEMANAGER.EDITDIALOG.WHITESPACE.LABEL"}}</label>
      <select name="{{../formPrefix}}style.whitespace" id="{{../formPrefix}}style.whitespace">
        {{selectOptions ../whitespaceContext localize=true selected=style.whitespace}}
      </select>
    </div>

  {{/with}}
</section>