<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="triggers">
  {{#with stageObject}}
    <div class="form-group">
      <label for="triggersEnabled">{{localize "STAGEMANAGER.EDITDIALOG.TRIGGERSENABLED"}}</label>
      <input type="checkbox" {{checked triggersEnabled}} name="triggersEnabled" id="triggersEnabled">
    </div>
    
    <button type="button" data-action="addTrigger" class="add-trigger">{{localize "STAGEMANAGER.EDITDIALOG.ADDTRIGGER"}}</button>
    <table data-role="trigger-list">
      <tr>
        <th>{{localize "STAGEMANAGER.EDITDIALOG.TRIGGERS"}}</th>
      </tr>
      {{#each ../triggers}}
      {{log this}}
        <tr>
          <td>{{> "modules/stage-manager/templates/editObject/trigger-item.hbs" this}}</td>
        </tr>
      {{/each}}
    </table>
  {{/with}}
</section>