<fieldset>
  {{log this}}
  <legend>{{localize
      "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.BACKGROUND"
    }}</legend>

  <div class="background-selector">
    <div>
      <select
        name="effect.backgroundType"
        id="effect.backgroundType"
      >
        {{selectOptions bgTypeSelect selected=backgroundType localize=true}}
      </select>
    </div>
    <div>
      <section data-background-type="color" style="display:none;">
        <input
          type="text"
          data-color-picker="{alphaChannel: true}"
          value="{{backgroundColor}}"
          id="effect.backgroundColor"
          name="effect.backgroundColor"
        />
      </section>
      <section data-background-type="image" style="display:none">
          <file-picker
            id="effect.backgroundImage"
            name="effect.backgroundImage"
            type="imagevideo"
            value="{{backgroundImage}}"
          ></file-picker>
        <section id="backgroundImagePreview"></section>
        </section>
      </section>
    </div>
  </div>

  {{!-- <div class="form-group">
    <table class="no-margins">
      <tr>
        <td style="width:50%" valign="top">
          <select name="effect.backgroundType" id="effect.backgroundType" data-action="selectBackgroundType">
            {{selectOptions bgTypeSelect selected=backgroundType localize=true}}
          </select>
        </td>
        <td valign="top">
          <section data-background-type="color" style="display:none;">
            <input
              type="text"
              data-color-picker="{alphaChannel: true}"
              value="{{backgroundColor}}"
              id="effect.backgroundColor"
              name="effect.backgroundColor"
            />
          </section>
          <section data-background-type="image" style="display:none">
            {{#if isV1}}
              <input type="text" name="effect.backgroundImage" id="effect.backgroundImage" required value="{{backgroundImage}}" />
              {{filePicker type="imagevideo" target="file"}}
            {{else}}
              <file-picker
                id="effect.backgroundImage"
                name="effect.backgroundImage"
                type="imagevideo"
                value="{{backgroundImage}}"
              ></file-picker>
            {{/if}}
            <section id="backgroundImagePreview"></section>
            </section>
          </section>
          <section data-background-type="overlay">

          </section>
        </td>
      </tr>
    </table>
  </div> --}}
</fieldset>