<section>
  <input type="hidden" name="effect.id" id="effect.id" value="{{id}}" />
  <input type="hidden" name="effect.type" id="effect.type" value="{{type}}" />
  <input
    type="hidden"
    name="effect.serialized"
    id="effect.serialized"
    value="{{serialized}}"
  />
  <div class="center">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.BEVEL"}}</div>

  <div class="form-group">
    <label for="effect.thickness">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.BEVEL.THICKNESS"}}</label>
    <input type="number" min="0" stype="any" name="effect.thickness" id="effect.thickness" value="{{thickness}}">
  </div>
  <br>

  <div class="form-group">
    <label for="effect.rotation">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.BEVEL.ROTATION"}}</label>
    <input type="number" min="0" step="any" name="effect.rotation" id="effect.thickness" value="{{rotation}}">
  </div>
  <br>

  <div class="form-group">
    <label for="effect.lightColor">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.BEVEL.LIGHTCOLOR"}}</label>
    <input type="text" data-color-picker="{alphaChannel: true}" value="{{lightColor}}" name="effect.lightColor" id="effect.lightColor">
  </div>
  <br>

  <div class="form-group">
    <label for="effect.shadowColor">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.BEVEL.SHADOWCOLOR"}}</label>
    <input type="text" data-color-picker="{alphaChannel: true}" name="effect.shadowColor" id="effect.shadowColor" value="{{shadowColor}}">
  </div>
  <br>
</section>