<section>
  <input type="hidden" name="effect.id" id="effect.id" value="{{id}}" />
  <input type="hidden" name="effect.type" id="effect.type" value="{{type}}" />
  <input
    type="hidden"
    name="effect.serialized"
    id="effect.serialized"
    value="{{serialized}}"
  />
  <div class="center">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.BLUR"}}</div>

  <div class="form-group">
    <label for="effect.temporary">{{localize
        "STAGEMANAGER.EDITDIALOG.TEMPORARY"
      }}</label>
    <input
      type="checkbox"
      {{checked temporary}}
      name="effect.temporary"
      id="effect.temporary"
    />
  </div>

  <div class="form-group">
    <label for="effect.strength">{{localize
        "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.BLUR.STRENGTH"
      }}</label>
    <input
      type="number"
      min="0"
      step="1"
      name="effect.strength"
      id="effect.strength"
      value="{{strength}}"
    />
  </div>
  <br />

  <div class="form-group">
    <label for="effect.quality">{{localize
        "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.BLUR.QUALITY"
      }}</label>
    <input
      type="number"
      min="0"
      step="1"
      name="effect.quality"
      id="effect.quality"
      value="{{quality}}"
    />
  </div>
</section>