<section>
  <input type="hidden" name="effect.id" id="effect.id" value="{{id}}" />
  <input type="hidden" name="effect.type" id="effect.type" value="{{type}}" />
  <input type="hidden" name="effect.serialized" id="effect.serialized" value="{{serialized}}" />

  <div class="center">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.DROPSHADOW"}}</div>

  <div class="form-group">
    <label for="effect.color">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.DROPSHADOW.COLOR"}}</label>
    <input type="text" name="effect.color" id="effect.color" value="{{color}}" data-color-picker="{alphaChannel: true}">
  </div>
  <br>

  <div class="form-group">
    <label>{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.DROPSHADOW.OFFSET"}}</label>
    <div class="flexrow">
      <label for="effect.offsetX" class="center">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.DROPSHADOW.X"}}</label>
      <input type="number" name="effect.offsetX" id="effect.offsetX" min="0" step="1" value="{{offsetX}}">
      <label for="effect.offsetY" class="center">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.DROPSHADOW.Y"}}</label>
      <input type="number" name="effect.offsetY" id="effect.offsetY" min="0" step="1" value="{{offsetY}}">
    </div>
  </div>
  <br>

  <div class="form-group">
    <label for="effect.blur">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.DROPSHADOW.BLUR"}}</label>
    <input type="number" value="{{blur}}" name="effect.blur" id="effect.blur" min="0" step="1">
  </div>
  <br>

  <div class="form-group">
    <label for="effect.quality">{{localize "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.DROPSHADOW.QUALITY"}}</label>
    <input type="number" value="{{quality}}" name="effect.quality" id="effect.quality" min="0" step="1">
  </div>
  <br>

</section>
