<section>
  <input type="hidden" name="effect.id" id="effect.id" value="{{id}}" />
  <input type="hidden" name="effect.type" id="effect.type" value="{{type}}" />
  <input
    type="hidden"
    name="effect.serialized"
    id="effect.serialized"
    value="{{serialized}}"
  />
  <div class="center">{{localize
      "STAGEMANAGER.EDITDIALOG.EFFECTS.OUTLINE"
    }}</div>

  <div class="form-group">
    <label for="effect.temporary">{{localize
        "STAGEMANAGER.EDITDIALOG.TEMPORARY"
      }}</label>
    <input
      type="checkbox"
      {{checked temporary}}
      name="effect.temporary"
      id="effect.temporary"
    />
  </div>

  <div class="form-group">
    <label for="effect.color">{{localize
        "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.OUTLINE.COLOR"
      }}</label>
    <input
      type="text"
      name="effect.color"
      id="effect.color"
      value="{{color}}"
      data-color-picker="{alphaChannel: true}"
    />
  </div>
  <br />

  <div class="form-group">
    <label for="effect.thickness">{{localize
        "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.OUTLINE.THICKNESS"
      }}</label>
    <input
      type="number"
      name="effect.thickness"
      id="effect.thickness"
      value="{{thickness}}"
      min="1"
      step="1"
    />
  </div>
  <br />

  <div class="form-group">
    <label for="effect.outlineOnly">{{localize
        "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.OUTLINE.OUTLINEONLY"
      }}</label>
    <input
      type="checkbox"
      name="effect.outlineOnly"
      id="effect.outlineOnly"
      {{checked outlineOnly}}
    />
  </div>
  <br />

  <div class="form-group">
    <label for="effect.quality">{{localize
        "STAGEMANAGER.EDITDIALOG.EFFECTS.CONFIG.OUTLINE.QUALITY"
      }}</label>
    <range-picker
      min="0"
      max="100"
      step="1"
      value="{{quality}}"
      name="effect.quality"
      id="effect.quality"
    ></range-picker>
  </div>
  <br />

</section>